[submodule "dependencies/asink"]
	path = dependencies/asink
	url = https://github.com/LPGhatguy/asink
[submodule "dependencies/testez"]
	path = dependencies/testez
	url = https://github.com/Roblox/testez
[submodule "dependencies/mock-data-store-service"]
	path = dependencies/mock-data-store-service
	url = https://github.com/buildthomas/MockDataStoreService
